<h1>Items</h1>
<p>Here's a list of items: feel free to play with it.</p>
<p *ngIf="!items"><em>Loading...</em></p>

<div class="command text-right" *ngIf="items">
  <button type="button" [routerLink]="['/item']" class="btn btn-success">Add new item</button>
</div>

<div class="mat-elevation-z8">
  <mat-form-field [hidden]="!items">
    <input matInput (keyup)="loadData($event.target.value)"
           placeholder="Filter by name (or part of it)...">
  </mat-form-field>
  <table mat-table [dataSource]="items" [hidden]="!items"
         matSort (matSortChange)="loadData()"
         matSortActive="{{defaultSortColumn}}"
         matSortDirection="{{defaultSortOrder}}">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let item">{{item.id}}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let item">
        <a [routerLink]="['/item', item.id]">{{item.name}}</a>
      </td>
    </ng-container>
    <!-- Lat Column -->
    <ng-container matColumnDef="labelName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>LabelName</th>
      <td mat-cell *matCellDef="let item">{{item.labelName}}</td>
    </ng-container>
    <!-- Lon Column -->
    <ng-container matColumnDef="availableStock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>InStock</th>
      <td mat-cell *matCellDef="let item">{{item.availableStock}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [hidden]="!items"
                 (page)="getData($event)"
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 20, 50]"
                 showFirstLastButtons></mat-paginator>
</div>
